.div.user-table
  %h1 Listing Todos

  %table
    %tr
      %th Todos
      %th Project Name
      %th Status
      %th Action
    - if @all_todos.present?
      - @all_todos.each do |todo|
        %tr
          %td= todo.task
          %td= todo.project.name
          %td= todo.status
          %td= link_to 'Change Status', edit_todo_path(todo)
    - else
      %tr
        %td{ colspan: 4 }
          No Todo Present
